[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GALLO"]
	path = GALLO
	url = https://github.com/pablobio/gallo
	shallow = true
	registered = true
